
body {
    	font-family: 'arial';
    	color: black;
    	background-color: #EEEEEE;
}


tbody {
	vertical-align: middle;
	text-align: left;
}

h1 {
    /*background-color: #06197B;
	*/background: url(../img/bg.jpg) top left repeat;
    color: white;
    text-align: center;
	vertical-align: middle;
	font-size: 37px;
	height: 130px;
}

.h1_1_line {
	line-height: 55px;
}
.h1_2_lines {
	line-height: 40px;
}
hr {
	height: 1px;
/*	width: 70%;*/
	margin: 3px 10% 3px 10%; 
}

#main h2, #glossary h2 {
	background: #f3f3f3 url(../img/h2.jpg) top left no-repeat;
	font-family: Tahoma, Arial, sans-serif;
	color: #06197B;
	/*text-align: justify;*/
	height: 70px;
	text-decoration: none;
	font-weight: bold;
	line-height: 70px;
	vertical-align: middle;
	padding: 1px 0 0 100px;
}

h3 { /*coordonnees*/
	font-family: 'Courier 10 Pitch';
}

/* LEFT COL H3 */
#menu h2 {
	color: #2286b3;
	font-family: Tahoma, Arial, sans-serif;
	font-size : 22px; 
	text-align: center;
	height: 37px;
	width: 200px;
	text-decoration: none;
	background: #f3f3f3 url(../img/h3.jpg) top left no-repeat;
	font-weight: bold;
	line-height: 37px;
	margin: 0;
	text-transform: uppercase;
}


h4 { /* mon nom */
	font-family: 'ae_Ouhod';
	font-size : 18px; 
	font-weight : bold;
}

th {
	font-size : 18px; 
	font-weight :bold;
}
h6 {
	background-color: #EEEEEE;
	font-size : 16px; 
	font-weight : 100;
}

span.h7 {
	background-color: #BADBFF; /* Fond de page bleu clair */
	margin: 0;
	width : 100%;
	font-weight:bold;
}

big {
	font-size : 19px; 
}



div#menu {
	margin: 30px 0px 0px 0px;
	width: 190px;
	float: left;
	margin-bottom: 14px;
	background: url(util/left_body.jpg) bottom center no-repeat;
}


div#main {
	margin: 50px 50px 50px 200px;
}


.section {
	/*background: url(util/left_body.jpg) top left no-repeat;
	background-size: 100%;*/
}

.pillmenu {
	float: left;
	margin: 0;
}

.pillmenu ul {
	margin: 0;
	padding: 0 0 0 7px;
	list-style: none;
}

.pillmenu li {
	float: left;
	margin: 0;
	width: 175px;
	height: 55px;
	background: url(../img/menu.jpg) top center no-repeat;
	padding: 2px 0 0 2px;
}

.li1line {
	line-height: 55px;	
}
.li2lines {
	line-height: 27px;	
}

.pillmenu a {
	color: #2286b3;
   text-decoration: none;
}
.pillmenu a:hover {
   background-color: #EEEEEE;
   color: black;
}

a.clic {
	color: green;
   text-decoration: none;
}
a:hover.clic {
   background-color: #EEEEEE;
   color: black;
}


a {
    	text-decoration: none;
    	color: blue;
}

a:hover{
   background-color: #6AFFE9;
	color: black;
}

.tooltip {
	background: white;
	width: 300px;
	border-style:solid;
	border-color: green;
	font-size : 11px; 
}

.tooltip h5 {
   background-color: #CCCCCC;
   margin: 0;
   padding: 0;
	font-size : 12px; 
}

.listModules {
	padding:  0 0 0 30px;
	font-style:italic; 
}

.gradient_title {
	float: left;
	padding: 0 0 0 80px;
}
.gradient {
	float: left;
	padding: 0 0 0 20px;
}

#attention {
	color: red;
	border-style:solid;
	text-align: center;
}

#bookmarks a {
    	text-decoration: none;
    	color: #EEEEEE;
}
