#containerpage {min-height:860px;background:transparent url(images/jaws-raiders-2560x1600-cmp-top.jpg) no-repeat center top;}
body {background:#157C9B url(images/jaws-raiders-2560x1600-cmp-btm.jpg) no-repeat center 860px;}
body *{color:#000;}
body.window{background:#157C9B url(images/jaws-form.jpg) no-repeat center 70%}
body.about{background:#157C9B;} body.about *{color:#D2BB78;}
body.window form{background-color:transparent;width:720px;}
body.window form label{color:#fff;}
                                       
h1{color:#000;}

a{cursor: url(css/japan/images/cursor-fan.cur);}

h1,legend,legend *{margin-left:.3em;color:#D2BB78;}

.mandatory{color:#D2BB78;} 
 
#breadcrumbsbanner{background-color:none;} #currentdate{color:#EEED50;font-weight:bold;}
#datebanner{background:none;}
#leftpart4datebanner,#userinfo{background-color:transparent;}
#businessbanner{background-color:none;border-top:1px solid #EEED50;border-bottom:0px solid ThreeDShadow;}

     
       /*#ContainerToolTab *{float:left;height:23px;margin:0;padding:0}
       #ContainerToolTab li span{height:23px;position:relative;vertical-align:middle;}
       */
       
       #ContainerNavigationTab a{position:relative;color:#fff;height:23px;line-height:23px;vertical-align:middle;text-align:center;width:100%}       
       #ContainerNavigationTab span.ToolTabSeparator{width:1px;height:23px}
       #ContainerNavigationTab span.ToolTabLeftRound{width:7px;height:23px;background:#2189A4;}
       #ContainerNavigationTab span.ToolTabCenter  {height:23px;background:#2189A4;line-height:23px;vertical-align:middle;border-bottom:solid 1px #EEED50;}
       #ContainerNavigationTab span.ToolTabCenter  img{position:relative;top:25%;left:33%;height:11px;text-align:center;}
       #ContainerNavigationTab span.ToolTabRightRound{width:7px;height:23px;background:#2189A4;}

       #ContainerToolTab a{position:relative;color:#fff;height:23px;line-height:23px;vertical-align:middle;text-align:center;width:100%}       
       #ContainerToolTab span.ToolTabSeparator{width:1px;height:23px}
       #ContainerToolTab span.ToolTabLeftRound{width:7px;height:23px;background:#2189A4;}
       #ContainerToolTab span.ToolTabCenter  {height:23px;background:#2189A4;line-height:23px;vertical-align:middle;width:40px;border-bottom:solid 1px #EEED50;}
       #ContainerToolTab span.ToolTabCenter  img{position:relative;top:25%;left:33%;height:11px;text-align:center;}
       #ContainerToolTab span.ToolTabRightRound{width:7px;height:23px;background:#2189A4;}
       
         
.menu{background:none;}
#menuleft{padding-left:0.3em;background:none;}
#menuleft li{background:inherit;border-color:Black;border-width:0 0 1px 0;border-style:solid;}
#menuleft li a{color:#fff;}
#menuleft .menunav li{background:inherit;border-color:#EEED50;border-width:0 0 0px 0;border-style:solid;}
#menuleft .menunav li a{color:#fff;}

#search_Value,#search_Value_Global{color:#000;background-color:#fff;border:solid 1px #000;}
#count{color:#000;background-color:#fff;}
input{color:#000;background-color:#fff;}

.toolbar{background-color:transparent;}
.toolbar input{color:#fff;background-color:transparent;border:dashed 1px #fff;}
input.action{color:#fff;height:40px;}


  .data{background-color:transparent;}
		.table-galitem {position:relative;width:100%;background-color:transparent;}
		.table-galitem th{color:#fff;border:1px solid #856534;text-align:center;height:2em;padding-top:.2em;}
		.table-galitem td{color:LightCyan;border:1px solid #856534;vertical-align:top;text-indent:.2em;height:2em;padding-top:.2em;}
		.table-galitem td a{color:#fff;}

/* Liquid styles */
div.coldata01{font-weight:bold;font-size:2em;width:100%;background:#33BBFF;min-height:1.5em;}
div.coldata02{width:50%;float:left;background:#33CCFF;}
div.coldata03{width:50%;float:left;background:#33DDFF;}
div.coldata04{width:100%;float:left;background:#33EEFF;}
div.coldata05{width:100%;float:left;background:#33FFFF;}


/* Css 3 enhancement */
table.table-galitem tr:hover {background-color:#EBD162;}
body.window form{margin:1% auto auto auto;padding: 4em;border:white 4px solid;border-radius: 1em 4em 1em 4em;-moz-border-radius: 1em 4em 1em 4em;-webkit-border-radius: 170px 145px / 145px 170px ;
border-bottom-left-radius:0em;-moz-border-radius-bottomleft:0em;-webkit-border-bottom-left-radius:0em;
border-bottom-right-radius:0em;-moz-border-radius-bottomright:0em;-webkit-border-bottom-right-radius:0em;
}

.history *{color:white;}

#containerpage{background-color:transparent;}  
  #limainnav{background-color:transparent;background-image:none;padding-top:120px;}
  #licontentarea{background-color:transparent;padding-top:120px;}
  #lifooterbanner .ui-panel-control{height:26px;width:100%;text-align:right;background-color:transparent;}
  #lifooterbanner div{background-color:transparent;}

/* @media print */
  @media print{ 
   body {background:#fff} body *{color:#000;}
   body.window{background:#fff;}
   body.window form{background:none;border-color:#000;}
   #breadcrumbsbanner, #businessbanner, #menuleft, .actionstoolbar, .toolbarpage, .cursormove{display:none;}   
   #mainnav{background:none;}
   data{background:none;}
   .table-galitem th{border-color:#856534;}
	 .table-galitem td{border-color:#856534;}
}