    /*CSS RESET*/
    /* v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;}
/*background:transparent*/
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none} /* remember to define focus styles! */
:focus{outline:0} /* remember to highlight inserts somehow! */
ins{text-decoration:none}
del{text-decoration:line-through} /* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0}

/* GLOBAL */
html{background:white;}
body{background:white;
padding:0.8em 1.2em 1em 2em;
counter-reset: chapter;      /* Create a chapter counter scope */
}
body.help{width:794px;margin:0 auto;border-left:solid 1px gray;border-right:solid 1px gray;}

body *{font-family:Verdana;font-size:x-small;}

h2:before {content: "~ " counter(chapter) ". ";counter-increment: chapter;  /* Add 1 to chapter */}
h2 {counter-reset: section;      /* Set section to 0 */}
h3:before {content: counter(chapter) "." counter(section) " ";counter-increment: section;}
h1{font-family:Arial;font-size:3em;margin:1em 2em 0.8em 2em;}
h2{font-family:Arial;font-size:x-large;margin:1.6em 0 1.6em 1.6em;text-decoration:underline;}
h3{font-family:Arial;font-size:large;margin:1.2em 0 1.2em 1.2em;}
h4{font-family:Arial;font-size:medium;}
table.tclassic{width:75%;}
th, td{height:2.2em;line-height:2.2em;vertical-align:top;}
table.tclassic td.tlabel{width:32%;}
p,pre{line-height:1.8em;}
a:focus{color:Red;}
a:active{color:Red;}
a:hover{color:Orange;text-decoration:blink;}

.A4{width:794px;height:1123px}

/* @media print */
@media print{
body.help{width:100%;padding:0;border:none;}
}