body {background:#CEA75A url(images/Fujinraijin-tawaraya.jpg) no-repeat center center;}
body *{color:#000;font-weight:bold;}
body.window{background:#91713E url(images/Fujinraijin-tawaraya.jpg) no-repeat top center;}
body.about{background:#91713E url(images/bkg-rubbing.jpg) repeat;}
body.window form{background-color:transparent;background-image:url(images/bgkopac3.gif);width:720px;}
                                       
h1{color:#000;}

a{cursor: url(css/japan/images/cursor-fan.cur);}

#breadcrumbsbanner{background-color:none;} #currentdate{color:#EEED50;font-weight:bold;}
#leftpart4datebanner,#userinfo{background-color:#CEA75A;}
#businessbanner{background-color:none;border-top:1px solid #EEED50;border-bottom:0px solid ThreeDShadow;}

     
       /*#ContainerToolTab *{float:left;height:23px;margin:0;padding:0}
       #ContainerToolTab li span{height:23px;position:relative;vertical-align:middle;}
       */
       
       #ContainerNavigationTab a{position:relative;color:#000;height:23px;line-height:23px;vertical-align:middle;text-align:center;width:100%}       
       #ContainerNavigationTab span.ToolTabSeparator{width:1px;height:23px}
       #ContainerNavigationTab span.ToolTabLeftRound{width:7px;height:23px;background:url(images/crner_square_lft_7.gif);}
       #ContainerNavigationTab span.ToolTabCenter  {height:23px;background:#CEA75A;line-height:23px;vertical-align:middle;border-bottom:solid 1px #EEED50;}
       #ContainerNavigationTab span.ToolTabCenter  img{position:relative;top:25%;left:33%;height:11px;text-align:center;}
       #ContainerNavigationTab span.ToolTabRightRound{width:7px;height:23px;background:url(images/crner_square_rgt_7.gif);}

       #ContainerToolTab a{position:relative;color:#000;height:23px;line-height:23px;vertical-align:middle;text-align:center;width:100%}       
       #ContainerToolTab span.ToolTabSeparator{width:1px;height:23px}
       #ContainerToolTab span.ToolTabLeftRound{width:7px;height:23px;background:url(images/crner_square_lft_7.gif);}
       #ContainerToolTab span.ToolTabCenter  {height:23px;background:#CEA75A;line-height:23px;vertical-align:middle;width:40px;border-bottom:solid 1px #EEED50;}
       #ContainerToolTab span.ToolTabCenter  img{position:relative;top:25%;left:33%;height:11px;text-align:center;}
       #ContainerToolTab span.ToolTabRightRound{width:7px;height:23px;background:url(images/crner_square_rgt_7.gif);}
       
         
.menu{background:none;}
#menuleft{padding-left:0.3em;background-color:transparent;background-image:url(images/bgkopac.gif);}
#menuleft li{background:inherit;border-color:Black;border-width:0 0 1px 0;border-style:solid;}
#menuleft li a{color:#000;}
#menuleft .menunav li{background:inherit;border-color:#EEED50;border-width:0 0 0px 0;border-style:solid;}
#menuleft .menunav li a{color:#000;}

.toolbar{background-color:transparent;background-image:url(images/bgkopac.gif);}
.toolbar input{background-color:#EBD162;}

  .data{background-color:transparent;}
		.table-galitem {position:relative;width:100%;background-color:transparent;}
		.table-galitem th{color:White;border:1px solid #856534;background:#CEA75A;text-align:center;height:2em;padding-top:.2em;}
		.table-galitem td{border:1px solid #856534;vertical-align:top;text-indent:.2em;height:2em;padding-top:.2em;}

/* Css 3 enhancement */
table.table-galitem tr:hover {background-color:#EBD162;}

#containerpage{background-color:transparent;background-image:url(images/bgkopac.gif);}  
  #limainnav{background-color:transparent;background-image:none;}
  #licontentarea{background-color:transparent;background-image:url(images/bgkopac2.gif);}
  #lifooterbanner .ui-panel-control{height:26px;width:100%;text-align:right;background-color:transparent;background-image:url(images/bgkopac2.gif);}
  #lifooterbanner div{background-color:transparent;background-image:url(images/bgkopac.gif);}

/* @media print */
  @media print{ 
   body {background:#fff} body *{color:#000;}
   body.window{background:#fff;}
   body.window form{background:#fff;border-color:#000;}
   #breadcrumbsbanner, #businessbanner, #menuleft, .actionstoolbar, .toolbarpage, .cursormove{display:none;}   
   #mainnav{background:none;}
   data{background:none;}
   .table-galitem th{border-color:#856534;}
	 .table-galitem td{border-color:#856534;}
}