    /*CSS RESET*/
    /* v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;}
/*background:transparent*/
/*body{line-height:1em}*/
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none} /* remember to define focus styles! */
:focus{outline:0} /* remember to highlight inserts somehow! */
ins{text-decoration:none}
del{text-decoration:line-through} /* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0}

/*
html{height:100%;}
body{height:98%;width:98%;overflow:auto;overflow-x:auto;overflow-y:scroll;}
form{width:100%;}
* html body {height: 98%;}
*/

html{height:100%;}
body{height:inherit;width:98%;overflow:auto;overflow-x:auto;overflow-y:scroll;}
form{width:100%;}
* html body {height: inherit;} 


/* specific bodies */
body.window {margin:0 1% 0 1%;}
body.window form {margin:0 auto;width:1024px}
body.window p{margin:1.5em;border:solid red 0px;}
body.window div.action{padding-left:7%;}
body.menu {width:100%;margin:0;}
body.about{overflow:hidden;}

.hiddenTextSR{position:absolute;top:-10000px;}
.hT{visibility:hidden;}
.hNoJS{visibility:hidden;}
.nodsp{display:none;}
.nodspNoJS{display:none;}

.IMDBPoster{position:absolute;top:0;right:0;}


body.mult form.nostyle{border-width:0px;width:100%;}/*myreset*/

#containerpage{position:absolute;float:left;width:100%;}
#sitenamebanner{display:none;position:relative;width:100%;margin:0;padding-left:0px;height:48px;}
#datebanner{position:relative;background:white;border-top:solid 1px white;height:26px;line-height:26px;vertical-align:middle;width:100%;}
       #leftpart4datebanner{position:absolute;top:0px;left:0px;width:280px;height:26px;line-height:26px;background-image:url(../images/crner_square_lft.gif);background-position:right;background-repeat:no-repeat;}
              #currentdate{position:absolute;left:5;height:26px;line-height:26px;vertical-align:middle;}
       #userinfo{position:absolute;top:0px;right:0px;width:280px;color:#175ca7;font-weight:normal;vertical-align:middle;cursor:help;padding:0 5px 0 0;height:26px;line-height:26px;text-align:right;overflow:hidden;text-overflow: ellipsis;
	   background-image:url(../images/crner_square_rgt.gif);background-position:left;background-repeat:no-repeat;}
              #userinfo a {color:white;text-align:right;background-color:#8DA91F;font-size:inherit;}
              #userinfo a:active {color:white;text-align:right;background-color:#8DA91F;font-size:inherit;text-decoration:none;}
              #userinfo button{color:white;background-color:#8DA91F;font-size:inherit;border:none;width:220px;text-align:right;vertical-align:middle;height:26px;line-height:26px;}
#breadcrumbsbanner{font-weight:bold;position:relative;height:26px;}
#sitebreadcrumb{color:white;font-weight:bold;position:absolute;left:5;background:none;height:inherit;line-height:26px;vertical-align:middle;}
       #sitesearch{position:absolute;top:0;right:0;height:100%;padding:0 0 0 3px;text-align:center;height:inherit;width:35em;}
#sitesearch form{width:100%;vertical-align:middle;margin:3 0 0 0;height:inherit;text-align:right;}
#sitesearch input.btnsearch{width:3em;font-weight:bold;background:#959595;color:white;border:solid 1px #7E848E;}
#businessbanner {display:block;clear:both;height:26px;}
       #ContainerNavigationTab {float:left;height:23px}
       #ContainerNavigationTab *{float:left;height:23px;margin:0;padding:0}
       #ContainerNavigationTab li span{height:23px;position:relative;vertical-align:middle;}
       #ContainerNavigationTab a{position:relative;color:#ffffff;height:23px;line-height:23px;vertical-align:middle;}
       #ContainerNavigationTab span.ToolTabSeparator{width:1px;height:23px}       
       #ContainerNavigationTab span.ToolTabLeftRound{width:7px;height:23px;background:none;}
       #ContainerNavigationTab span.ToolTabCenter  {height:23px;background:none;}
       #ContainerNavigationTab span.ToolTabRightRound{width:7px;height:23px;background:none;}
       #ContainerNavigationTab span.ToolTabLeftRoundSelected{width:7px;height:23px;background:none;}
       #ContainerNavigationTab span.ToolTabCenterSelected  {height:23px;background:none;}
       #ContainerNavigationTab span.ToolTabRightRoundSelected{width:7px;height:23px;background:none;}
       #ContainerToolTab {float:right;height:23px}
       #ContainerToolTab *{float:left;height:23px;margin:0;padding:0}
       #ContainerToolTab li span{height:23px;position:relative;vertical-align:middle;}
       #ContainerToolTab a{position:relative;color:#ffffff;height:23px;line-height:23px;vertical-align:middle;}
       #ContainerToolTab span.ToolTabSeparator{width:1px;height:23px}
       #ContainerToolTab span.ToolTabLeftRound{width:7px;height:23px;background:none;}
       #ContainerToolTab span.ToolTabCenter  {height:23px;background:none;line-height:23px;vertical-align:middle;}
       #ContainerToolTab span.ToolTabCenter  img{position:relative;top:25%;height:11px}
       #ContainerToolTab span.ToolTabRightRound{width:7px;height:23px;background:none;}
#sitenamebanner #intranetlogo {float:left;padding:0;margin:0;margin-left:0px;color:#1f60a9;font-size:44px;font-weight:bold;background:none;width:300px;height:48px;overflow:hidden;}
#sitenamebanner #intranetlogo a {font-style:Comic Sans, Comic Sans MS, cursive,Impact, fantasy ;font-size:44px;font-weight:bold;margin:0 0 0 0;}
#brandlogo{float:right;background:none;height:58px;width:200px;}
#mainnav{height:100%;padding:0 5px;}/*position:relative;float:left;*/
/*        IE6 - - > Scrollbar:21px; */
/*        min 1024 x 768        */
/*        A4 595 x 842        */
#contentarea{height:100%;padding:0 5px;}/*{position:relative;max-width:1899px;margin-left:185px;height:100%;}*/
	#Main{border:0px solid red;height:100%;}
#footerbanner{color:#000;width:100%;position:absolute;bottom:-52px;height:26px;}
       #sentence4footerbanner{float:right;overflow:visible;line-height:1.4em;}
       #link4footerbanner{float:right;}

/* GLOBAL */
body *{font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:x-small;}
h1{font-family:Arial;font-size:xx-large;}
h2{font-size:x-large;}
h3{font-size:large;}
h4{font-size:medium;}
label{width:15%;float:left;font-weight:bold;vertical-align:text-top;border:solid red 0px;}
label.radio{float:left;}
input{width:66%;color:Black;background-color:White;vertical-align:text-top;font-size:86%;border:solid 1px Grey;}
textarea{width:90%;color:Black;background-color:White;vertical-align:text-top;font-size:86%;border:solid 1px Grey;}
select,option {color:Black;background-color:White;vertical-align:text-top;font-size:86%;border:solid 1px Grey;}
fieldset{margin:1em;border:solid 1px white;padding:1em;}
fieldset.ftitle legend{width:99%;height:3.2em;border-bottom:double 1px white;font-size:larger;font-weight:bold;margin:1em 1em 1em 0em;}
legend{width:15em;height:2.2em;border-bottom:double 1px white;font-size:larger;font-weight:bold;margin:1em;}
table.tclassic{width:75%;}
th, td{height:2.2em;line-height:2.2em;vertical-align:top;}
table.tclassic td.tlabel{width:32%;}
/* a:link{color:#000000;}
a:visited{color:#000000;} */
a:focus{color:Red;}
a:active{color:Red;}
a:hover{color:Orange;text-decoration:blink;}

/* menu */ 
.menu .header{text-decoration:none;color:Black; padding:0.3em 0;}
#menuleft{background:White;}
/*menu level 1*/
#menuleft li a{height:2em;line-height:2em;vertical-align:middle;}
/*menu level 2*/
#menuleft .menunav li a{}
#menuleft .menunav li:hover{background-color:MintCream;}
#menuleft .menunav li:hover>a{color:Black;background-color:MintCream;}
#menuleft ul.menunav{font-weight:bold;margin:2em 0 2em 0;border:ridge 0px black;}
#menuleft .menunav li{height:2em;font-weight:normal;text-indent:1.2em;}
#menuleft .menunav.Year li{font-weight:normal;text-indent:1.2em;float:left;width:4.59em;border:none;}


	.header{position:relative;width:100%;overflow:auto;padding:2px;}
		.tools{width:100%;text-align:left;vertical-align:middle;}		
		.tsearch{position:absolute;top:0;right:0;width:30%;}
		.toolbarpage{width:70%;}
        .info_pge td{line-height:1em;vertical-align:middle}		
				.info_pge td.tdnav{width:26px;}
				.info_pge td.tdpge{width:80px;white-space:nowrap;}
		#searchctxt{float:right;height:100%;padding:0 0 0 3px;text-align:right;height:inherit;width:35em;}
		#searchctxt form{width:100%;vertical-align:middle;margin:3 0 0 0;height:inherit;text-align:right;}
		#searchctxt label{display:inline;}
		#search_Value{width:66%;}
		#searchctxt input.btnsearch{background:#959595;width:3em;font-weight:bold;color:white;border:solid 1px #7E848E;}				
			
				
	.data{width:100%;}
		input.selectrow {margin:0;padding:0;background:none;}		
		
	.datatfooter{width:100%;float:left;}
	
	.footer{float:right;height:3em;width:100%;position:relative;}
	
/* BUTTONS */

/* forms */
input.savedoc{padding-left:0px;background:transparent url(../images/Apply.gif) no-repeat;}
input.moddoc{padding-left:0px;background:transparent url(../images/Record_Modify.gif) no-repeat;}
input.deldoc{padding-left:0px;background:transparent url(../images/Del.gif) no-repeat;}

/* view */
input.newdoc{padding-left:0px;background:transparent url(../images/New.gif) no-repeat;}
input.newdocs{padding-left:0px;background:transparent url(../images/New-Multiple.gif) no-repeat;}
input.settings{padding-left:0px;background:transparent url(../images/Settings.gif) no-repeat;}
input.key{padding-left:0px;background:transparent url(../images/Key.gif) no-repeat;}
input.door{padding-left:0px;background:transparent url(../images/Door.gif) no-repeat;}
input.about{padding-left:0px;background:transparent url(../images/About.gif) no-repeat;}
input.search{padding-left:0px;background:transparent url(../images/Search.gif) no-repeat;}
input.exportsql{padding-left:0px;background:transparent url(../images/Script.gif) no-repeat;}
input.test{padding-left:0px;background:transparent url(../images/Dial.gif) no-repeat;}

/* forms */
input.ok{padding-left:0px;background:transparent url(../images/Valid_Ok.gif) no-repeat;}
input.cancel{padding-left:0px;background:transparent url(../images/Valid_Cancel.gif) no-repeat;}
input.close{padding-left:0px;background:transparent url(../images/Close.gif) no-repeat;}
input.redo{padding-left:0px;background:transparent url(../images/Redo.gif) no-repeat;}

/* all */
input.action{height:4em;vertical-align:middle;width:9em;font-weight:bold;text-align:left;padding-top:20px;text-indent:10px;border:1px outset ButtonShadow;margin:.2em;background-position:3px 1px;}
.data input.action{height:3em;vertical-align:middle;width:3em;font-weight:bold;text-indent:32px;}
input.checkbox{width:2em;}
input.radio{float:left;width:2em;background:none;border:solid 1px white;}
input.datetime, select.datetime{width:6em;}

                       
/* noborders : view,forms */
input.rowadd{padding-left:0px;background:transparent url(../images/Create.gif) no-repeat;border:none;}
input.rowmod{padding-left:0px;background:transparent url(../images/Record_Modify_16x16.gif) no-repeat;border:none;}
input.rowdel{padding-left:0px;background:transparent url(../images/Record_Erase_16x16.gif) no-repeat;border:none;}
input.imdb{padding-left:0px;background:transparent url(../images/Film.gif) no-repeat;border:none;}
input.helpme{height:3em;width:3em;background:transparent url(../images/Question_16x16.gif) no-repeat;text-indent:32px;border:none;}
input.viewit{height:3em;width:3em;background:transparent url(../images/View_16x16.gif) no-repeat;text-indent:32px;border:none;}
input.viewposter{height:3em;width:3em;background:transparent url(../images/jpg_24.png) no-repeat;text-indent:32px;border:none;}

input.okl{background:#959595;width:3em;font-weight:bold;color:white;border:solid 1px #7E848E;}

/* login */
body.login{max-width:1003px;overflow:hidden;background:window;margin:0 auto 0 auto;}
body.login *{color:WindowText;}
.tbllogin{background:White;vertical-align:middle;border:3px ActiveBorder groove;margin:22% auto 0 auto;}
.tbllogin thead th{background:ActiveCaption;color:white;height:2em;vertical-align:middle;}
.tbllogin td{background:ThreeDFace;border:0px solid #DADCDD;vertical-align:top;text-indent:.2em;height:2em;padding:.5em;}
.tbllogin td label{width:100%;}
.tbllogin td input{color:WindowText;}

/* informations & other messages */
.msg{padding:.5em;margin:.8em;width:400px;line-height:2em;}
.msgstandard{border:double 3px blue}
.msgsuccess{border:double 3px green}
.msgwarning{border-left:double 3px orange;margin:.2em 0;padding:.4em .2em;}
.msgerrors{border:double 3px red}
div.msgwarning *{color:red;}
div.msgerrors{width:470px;height:240px;line-height:2.2em;text-align:center;vertical-align:middle;border:double 10px black;color:white;background:red;margin: 15% auto;}
div.msgerrors *{}

div.mustlogin{background:#ff0000 url(../images/keyhole.png) no-repeat;}

.history *{font-size:94%}
.history table{width:45%;margin:3em 0 0 0;}
.history th{text-align:left;}
.history td{text-align:left;}

/* PhP  Css rules */
table.xdebug-error *{color:black;}



/*  UI enhancement  */
#sortable{width:100%;height:100%;}
  /*#sortable li{border:outset 1px red;}*/
  #sortable #libanner{float:left;width:100%;position:relative;}
  #sortable #limainnav{float:left;width:14%;position:relative;}
  #sortable #licontentarea{float:left;width:85%;position:relative;}
  #sortable #lifooterbanner{float:left;width:100%;position:relative;}  
  #sortable li.ui-state-highlight{border:1px solid white;}
.cursormove{position:absolute;top:0px;right:0px;float:right;z-index:99;}


/* Liquid styles */
div.tools *{float:left;}		
div.tdnav {float:left;width:50px;height:40px;margin:1em;}

div.tr-galitem-title {float:left;width:100%;}
div.td-galitem-title {text-align:left;width:109px;float:left;margin:2px;height:2em;}
div.coltitleact02 {display:none;}
div.coltitleact03 {display:none;}

div.tr-galitem-caption {width:109px;float:left;height:160px;margin:2px;}
div.td-galitem-action {float:left;width:34px;height:20px;}
div.coldata01{font-weight:bold;font-size:2em;width:100%;min-height:1.5em;}
div.coldata02{width:48%;float:left;text-align:center;}
div.coldata03{width:49%;float:left;text-align:right;}
div.coldata04{width:100%;float:left;}
div.coldata05{width:100%;float:left;overflow:auto;}

/* Css 3 enhancement */
body.window form{padding: 2em;border:white 4px solid;border-radius: 1em 4em 1em 4em;-moz-border-radius: 1em 4em 1em 4em;-webkit-border-radius: 95px 45px / 45px 95px ;}

.ui-resizable{overflow:hidden;overflow-x:auto;overflow-y:auto;}
.ui-panel-hl{border:inset 1px white;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.ui-panel-control{position:absolute;top:0px;right:0px;float:right;z-index:99;}

table.table-galitem tr:hover {background-color:MintCream;}
table.table-galitem tr:hover>td ,table.table-galitem tr:hover>td *{color:black;}

button, input, fieldset{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
input:focus,select:focus,textarea:focus{border:solid 1px Gold;}
div.action input.action:hover, body.window div.action input.action:hover{border-style:inset;}
/*table.table-galitem input.action:hover{border:none;}*/
legend  {border:double 1px white;padding:.3em;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}



/* @media print */
  @media print{ 
.hiddenTextPRT {display:none;}
textarea{height:100%;overflow:visible;}
#breadcrumbsbanner, #businessbanner, #menuleft, .actionstoolbar, .toolbarpage, .cursormove{display:none;}
#sortable #limainnav{width:100%;}
#sortable #licontentarea{width:100%;} 
}